<div aria-multiselectable="true" class="mb-4" id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" id="headingOne" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Collapsible Group Item #1</a></h5>
    </div>

    <div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel">
      <div class="card-body">&nbsp;</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Collapsible Group Item #2 </a></h5>
    </div>

    <div aria-labelledby="headingTwo" class="collapse" id="collapseTwo" role="tabpanel">
      <div class="card-body">&nbsp;</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Symptoms</a></h5>
    </div>

    <div aria-labelledby="headingThree" class="collapse" id="collapseThree" role="tabpanel">
      <div class="card-body">&nbsp;</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Collapsible Group Item #2 </a></h5>
    </div>

    <div aria-labelledby="headingTwo" class="collapse" id="collapseFour" role="tabpanel">
      <div class="card-body">&nbsp;</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">Collapsible Group Item #2 </a></h5>
    </div>

    <div aria-labelledby="headingTwo" class="collapse" id="collapseFive" role="tabpanel">
      <div class="card-body">&nbsp;</div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseSix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">Collapsible Group Item #2 </a></h5>
    </div>

    <div aria-labelledby="headingTwo" class="collapse" id="collapseSix" role="tabpanel">
      <div class="card-body">&nbsp;</div>
    </div>
  </div>
</div>
