{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <title>Cope Evans Project</title>
    <!--  <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      <!--<script src="{% static 'nav.js' %}"></script>-->
      {% block mf %}
      {% include 'mf.html' %}
      {% endblock %}
    </head>
<div id = "container">
    <div id = "body">
      <body>
	<div id = "header">
	  {% block header %}{% endblock %}
	</div>
	{% block navbar %}  {% include "nav.html" %}{% endblock %}
	{% block content %}{% endblock content %}

      </body>
    </div>
</html>
</div>
