{% load static %}
<!DOCTYPE html>
<html>
  <div id = "container">
    <head>
      <title>Cope Evans Project</title>
      <link rel="stylesheet" href="{% static 'base.css' %}">
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
      <!--<script src="{% static 'nav.js' %}"></script>-->
      {% block scripts %}
      {% endblock %}
    </head>
    <div id = "body">
      <body>
	<div id = "header">
	  {% block header %}{% endblock %}
	</div>
	{% block navbar %}  {% include "nav.html" %}{% endblock %}
	{% block content %}{% endblock content %}

      </body>
    </div>
</html>
</div>
