{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"><!--favicon-->
  <meta name="description" content="">
  <meta name="author" content="">
  {% block scripts %}
        {% endblock %}
  <title> Cope Evans Project </title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
</head>

<body>
{% block mf %} {% include "mf.html" %} {% endblock %}
{% block navbar %}  {% include "new_nav.html" %}{% endblock %}
{% block content %}
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">The Cope Evans Family</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">The Cope Evans Family</li>
  </ol>
  <div aria-multiselectable="true" class="mb-4" id="accordion" role="tablist"><!--- begin cards -->
    <div class="card">
      <div class="card-header" id="headingOne" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">The Families</a></h5>
      </div>
      <div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel"><!-- Card One -->
	<div class="card-body">
    <a href="http://triptych.brynmawr.edu/cdm/landingpage/collection/cope" > <img src = "" style="padding: 0 15px; float: left;"></a>
	  <p>The Cope and Evans families were two prominent Quaker families in Philadelphia. They were influential in their roles as merchants and businessmen, philanthropists, and educators. Through their letters and other documents we can learn a great deal about how the Copes and Evanses lived through and thought about the political, economic, and cultural changes of the nineteenth and early twentieth centuries.</p>

	  <p> Refer to the <a href = "{% url 'familytree' %}">Cope Evans Family Tree</a> to learn more about individual members of the Cope and Evans families, and to see connections between family members.</p>

	</div><!-- end card one body -->

      </div><!-- end heading One -->
    </div><!-- end Card One--->

    <div class="card"><!-- start card two -->
      <div class="card-header" id="headingTwo" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">The Collection</a></h5>
      </div>
      <div aria-labelledby="headingTwo" class="collapse" id="collapseTwo" role="tabpanel">
	<div class="card-body">
	  <p><a href = "http://triptych.brynmawr.edu/cdm/landingpage/collection/cope">The Cope Evans Family Papers</a>, 1732-1911 consists of approximately 2,900 items including letters, certificates, photographs, friendship books, and account books.</p>

	  <p>Letters by Mary Drinker Cope (1766-1825) to her children are full of affection as well as practical and spiritual advice. Thomas Pim Cope's letters include those to his sons on his business interests. The letters of Anna S. Cope (1822-1916) and Francis R. Cope (1821-1909) discuss home life and children, family and friends activities; many of Anna S. Cope's letters were written from family vacation spots in New England, where she often went to escape the hot summer months in Philadelphia. Letters of Francis R. Cope include letters written while in Virginia on Freedmen's Relief Association business after the Civil War (1861-1865) as well as letters related to estate sales in Washington D.C.</p>
	  <p>The letters of sisters Clementine, Carolina, and Annette Cope include many travel letters from Europe. Clementine Cope's letters also include those written while teaching at a Freedmen's Association School in Baltimore in 1865. There are a number of letters written by children; of particular interest are those written by brothers Henry, Francis, and William D. Cope while at Westtown Bording School in the early 1800s and letters of brothers Francis R. Cope (1812-1909) and Thomas P. Cope (1823-1900) while at Haverford College in the 1830s. Topics within the letters include business, Haverford College and education, national events such as the Civil War, Reconstruction, and the assassinations of Presidents Lincoln and McKinley. A portion of the Cope Evans Family Papers have been digitized and are <a href="http://triptych.brynmawr.edu/cdm/landingpage/collection/cope">available online</a>.</p>

	  <!--<p>The subject chart below shows some of the topics that the Cope and Evans families discussed in their letters at various points throughout the nineteenth and twentieth centuries. Click the chart to explore the interactive graph on your own.</p>-->
	  <!--insert chart image -->
	</div>
      </div>
    </div><!---end card two-->

    <div class="card"><!-- start card three -->
      <div class="card-header" id="headingThree" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Family Tree</a></h5>
      </div>
      <div aria-labelledby="headingThree" class="collapse" id="collapseThree" role="tabpanel">
	<div class="card-body">

    <a href="{% url 'familytree' %}"><img src="{% static 'img/familytree.png' %}" alt="picture of family tree" height="400" width="600" style = "display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;"></a>
	  <p>Explore the <a href = "{% url 'familytree' %}">family dendogram</a>, a horizontally-oriented family tree, to see the Copes' and Evanses' familial connections. This family tree encompasses thirteen generations of Quakers dating back to the late sixteenth century with the birth of John Cope. In this tree you can see how prominent Quaker families such as the Copes, Evans, and Drinkers are closely connected by marriage.</p>
	  <!--- insert link to family tree -->
	</div>
      </div>
    </div><!---end card three-->

    <div class="card"><!-- start card four -->
      <div class="card-header" id="headingFour" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Important People</a>
	</h5>
      </div>
      <div aria-labelledby="headingFour" class="collapse" id="collapseFour" role="tabpanel">
	<div class="card-body">
	  <p> <b>Thomas Pim Cope</b> (1768-1854), was a prominent Quaker merchant who was actively involved in the economic and social development of Philadelphia. He was born in 1768 to Caleb and Mary Cope in Lancaster, PA. Thomas P. Cope married Mary Drinker in 1792 and they had seven children: Henry (1793-1865), Francis (1794-1816), Caroline (died in infancy), William (1798-1873), Caroline R. (1802-1873), Alfred (1806-1875), and Eleanor (1807-1847) (refer to the Cope Family Tree) (Evans, 144; G. Cope, 51).</p>
	  <!--- insert image of tpc--->
	  <p>In late 1785 or early 1786, he arrived in Philadelphia from Lancaster County, Pennsylvania "to commence the acquisition of practical mercantile knowledge" (Chandler, 358). During his life, he served as a member of the Philadelphia City Council, Pennsylvania Legislature, and President of the Mercantile Library Company. Cope found financial success in his import-export business. His line of packet ships expanded networks between Philadelphia and Liverpool, England. Cope also provided financial support for one of the city’s major projects, the Pennsylvania Railroad. Cope identified as an Orthodox Quaker (Baltzell, 501, 440-441, Barbour and Frost, 187).</p>

	  <p> <b>Francis Reeve Cope</b> (1821-1909), the grandson of Thomas Pim Cope, was a merchant and businessman. In 1847, he married Anna Stewardson Brown and they had nine children: Elizabeth (1848-1937), Rachel (1850-1939), Thomas (1852-1944), William (1854-1860), Alfred (1857-1897), Francis (1859-1909), Algernon (1860-1862), Anna (1862-?), Caroline (1865-1953) (refer to the Cope Family Tree) (Evans, 144). He was involved with the Pennsylvania Freedmen’s Relief Association, a philanthropic effort established around 1862 to provide education for freed slaves (Benjamin, 76, 140-141, 128).</p>

	  <p><b>Jonathan Evans</b> (1843-1911) was the fifth child of Thomas Evans and Katharine [Catharine] Wistar. He married Rachel Reeve Cope (1850-1939), daughter of Francis Reeve Cope, in 1873. They had five children: Anna (1875-1967), Francis (1878-1946), Edward (1882-1976), Ernest (1884-1911), and Harold (1886-1977) (refer to the Cope Family Tree). All four sons graduated from Haverford College (Evans, 22, 138, 143).</p>
	  <p>For nearly thirty years, Evans served on the School Committee at Haverford College. According to his colleagues “his influence stood for conservatism in retaining the best features that differentiate our Friends’ Schools from others; that at the same time he was always ready to adopt plans in accordance with progressive standards in education” (Minutes of School Committee, Reporting Jonathan Evans' Death, 1911; Evans, 138).</p>
	  <p><b>Clementine Cope</b> (1835-1899) was the oldest child of William D. Cope (1798-1873) and Susan Newbold. She had two brothers, Edgar and Alexis, and had a close relationship with her sisters, Caroline and Annette. Her sister Eleanor died as an infant (refer to the Cope Family Tree). Clementine never married (Evans, 144; G. Cope, 112-113).</p>
	  <!-- need to insert images-->
	</div>
      </div>
    </div><!---end card four-->

  <div class="card"><!-- start card five -->
        <div class="card-header" id="headingfive" role="tab">
  	<h5 class="mb-0"><a aria-controls="collapsefive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsefive">Family Life</a>
  	</h5>
        </div>
        <div aria-labelledby="headingfive" class="collapse" id="collapsefive" role="tabpanel">
  	<div class="card-body">
      <p>While the bustle of city life served as the arena for business affairs and reform efforts, letters written by the Cope and Evans families from Awbury and Woodbourne captured scenes of life at home. Awbury, the Cope family home for generations, was built by Henry Cope (1793-1865) in the 1850s. Its location in Germantown provided easy access to Philadelphia by train.</p>
      <p>Woodbourne was another family home that was built by William Drinker Cope's son Alexis. Woodbourne served as a retreat for many members of the Cope family who hoped to escape the summer heat in Philadelphia. Located in a remote area, the home also included an orchard. Later, Alexis's son, Francis R. Cope, Jr., would explore his interest in farming and horticulture while living at Woodbourne.</p>
      <p>Reports on the health of family members (with occasional reference to the nurses who attended them), stories of birthdays and weddings, and details regarding child care and chores were all important subjects in letters written by the women of the households.</p>
      <p>Benjamin, exploring the changing roles of Orthodox Quaker women, suggests that while Quakerism embraced egalitarianism and "offered opportunities for women in the ministry," Philadelphia Quakers grappled with the issue of "grant[ing] women equality in the administration of their Meetings." Outside of the Meetings, Quaker women took roles as nurses, teachers, and social workers. Benjamin also notes that "two-fifths of the women in Philadelphia meeting never married" (Benjamin, 148, 164, 148-169).</p>
      <p>The families' domestic lives and the experience of their women lead to many more questions of scholarly inquiry. For example, in what ways was Clementine Cope, a Quaker woman who never married and spent time abroad, representative of women during this period?</p>
  	</div>
        </div>
      </div><!---end card five-->

      <div class="card"><!-- start card six -->
      <div class="card-header" id="headingsix" role="tab">
	<h5 class="mb-0"><a aria-controls="collapsesix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsesix">Letter Bar Chart</a>
	</h5>
      </div>
      <div aria-labelledby="headingsix" class="collapse" id="collapsesix" role="tabpanel">
	<div class="card-body">
    <!-- insert image-->
    <p>The chart above plots the number of letters on the y-axis, against the year the letters were written on the x-axis. To view how the letters are distributed by subject, go to the drop down menu on the side and select which subject you would like to view. The graph will then change to show the letter distribution by subject. This visualization is an exploratory tool for the collection. Many of the subjects that you can filter by are related to domestic and every day life of the family members. Filtering by subject areas like family, lifestyle, love, and travel will reveal the frequency of letters on those subjects betweeen 1800 and 1910.</p>

	</div>
      </div>
    </div><!---end card six-->
    <div class="card"><!-- start card seven -->
      <div class="card-header" id="headingseven" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseseven" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseseven">Clementine Cope</a>
	</h5>
      </div>
      <div aria-labelledby="headingseven" class="collapse" id="collapseseven" role="tabpanel">
	<div class="card-body">
    <p>Clementine Cope’s 1879 diary of her travels around Italy documented her interests in Roman mythology, art and sculpture, and ancient history (Woodbourne Orchards and family of Francis R. Cope Jr. Collection). Her letters addressed to her family were written from cities in Italy. She discussed Renaissance art, art museums, and food to name a few topics.</p>
    <p>Her interests in all these subjects were evident in her scrapbook. A gift from her Aunt E.C. Tyson in 1844 when Clementine was nine years old, she filled it with illustrations from magazines such as Harper’s, photographs, poems, sketches and drawing, newspaper article clippings, and obituaries throughout her life. The illustrations certainly reflect a sense of romanticism and captured scenes of domesticity, the lives of royalty, and spiritual life. Newspaper clippings included a copy of Lincoln’s second inaugural address and stories about his assassination and funeral procession. Obituaries of Thomas P. Cope and Henry Cope are also included.</p>
    <!--need to get flipbook-->
	</div>
      </div>
    </div><!---end card seven-->


    <div class="card"><!-- start card eight -->
          <div class="card-header" id="headingeight" role="tab">
    	<h5 class="mb-0"><a aria-controls="collapseeight" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseeight">Family Papers Map</a>
    	</h5>
          </div>
          <div aria-labelledby="headingeight" class="collapse" id="collapseeight" role="tabpanel">
    	    <div class="card-body">
	      <a href="{% url 'letters' %}"> <img src="{% static 'img/map.png' %}" style = "display: block; margin-left: auto; margin-right: auto; margin-botton: 20px;"
						  alt="letter map picture" align="middle" height="400" width="600"></a>
      <p>The <a href = "{% url 'letters' %}"> map</a> is compiled from the exchange of the writer or recipient's location pulled from all the digitized letters and documents in the Cope Evans Family Papers.</p>
    	</div>
          </div>
        </div><!---end card eight-->


    </div><!-- end cards--->


  {% endblock content %}
</div><!-- end container -->

{% block footer %} {% include "footer.html" %} {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
