<div id="json" style="display:none;">{
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;John Cope&quot;,
  &quot;id&quot;: 364,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Margaret&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;Oct 1649&quot;,
  &quot;Cope Member&quot;: &quot;John Cope&quot;,
  &quot;id&quot;: 397,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Elizabeth&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;1697&quot;,
  &quot;Cope Member&quot;: &quot;Oliver Cope&quot;,
  &quot;id&quot;: 468,
  &quot;Birth&quot;: &quot;1647&quot;,
  &quot;Partner&quot;: &quot;Rebecca&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Cope&quot;,
  &quot;id&quot;: 350,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;14 Feb 1773&quot;,
  &quot;Cope Member&quot;: &quot;John Cope&quot;,
  &quot;id&quot;: 361,
  &quot;Birth&quot;: &quot;1691, Naamans Creek, DE&quot;,
  &quot;Partner&quot;: &quot;Unknown&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;3 Jan 1820&quot;,
  &quot;Cope Member&quot;: &quot;Nathan Cope&quot;,
  &quot;id&quot;: 116,
  &quot;Birth&quot;: &quot;7 Jul 1733&quot;,
  &quot;Partner&quot;: &quot;Amy Bane&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;30 May 1824&quot;,
  &quot;Cope Member&quot;: &quot;Caleb Cope&quot;,
  &quot;id&quot;: 233,
  &quot;Birth&quot;: &quot;4 Nov 1736&quot;,
  &quot;Partner&quot;: &quot;Mary Mendenhall&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;22 Nov 1854&quot;,
  &quot;Cope Member&quot;: &quot;Thomas Pim Cope&quot;,
  &quot;id&quot;: 41,
  &quot;Birth&quot;: &quot;26 Aug 1768&quot;,
  &quot;Partner&quot;: &quot;Mary Drinker&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;4 Sep 1865&quot;,
  &quot;Cope Member&quot;: &quot;Henry Cope&quot;,
  &quot;id&quot;: 7,
  &quot;Birth&quot;: &quot;8 Jun 1793&quot;,
  &quot;Partner&quot;: &quot;Rachel Reeve&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;6 Nov 1909&quot;,
  &quot;Cope Member&quot;: &quot;Francis Reeve Cope&quot;,
  &quot;id&quot;: 3,
  &quot;Birth&quot;: &quot;6 Jun 1821&quot;,
  &quot;Partner&quot;: &quot;Anna Stewardson Brown&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;6 Jan 1953&quot;,
  &quot;Cope Member&quot;: &quot;Caroline Mary Cope&quot;,
  &quot;id&quot;: 0,
  &quot;Birth&quot;: &quot;31 Dec 1865&quot;,
  &quot;Partner&quot;: &quot;Unknown&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;14 Apr 1932&quot;,
  &quot;Cope Member&quot;: &quot;Alfreda Cope Lewis&quot;,
  &quot;id&quot;: 356,
  &quot;Birth&quot;: &quot;8 Jan 1897&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Anna Lewis&quot;,
  &quot;id&quot;: 405,
  &quot;Birth&quot;: &quot;18 Aug 1898&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;Jan 1999&quot;,
  &quot;Cope Member&quot;: &quot;William Draper Lewis Jr.&quot;,
  &quot;id&quot;: 477,
  &quot;Birth&quot;: &quot;25 Apr 1903&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1991&quot;,
  &quot;Cope Member&quot;: &quot;Henry Lewis&quot;,
  &quot;id&quot;: 489,
  &quot;Birth&quot;: &quot;11 Sep 1893&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;31 Oct 1937&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Stewardson Cope&quot;,
  &quot;id&quot;: 1,
  &quot;Birth&quot;: &quot;18 Oct 1848&quot;,
  &quot;Partner&quot;: &quot;Alexis Thomas Cope&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;6 Jul 1962&quot;,
  &quot;Cope Member&quot;: &quot;Francis Reeve Cope Jr.&quot;,
  &quot;id&quot;: 5,
  &quot;Birth&quot;: &quot;9 Aug 1878&quot;,
  &quot;Partner&quot;: &quot;Evelyn Flower Morris&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;15 Jan 2000&quot;,
  &quot;Cope Member&quot;: &quot;Theodora Morris Cope&quot;,
  &quot;id&quot;: 381,
  &quot;Birth&quot;: &quot;4 Jan 1906&quot;,
  &quot;Partner&quot;: &quot;John Frederick Stanwell-Fletcher&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Patricia Cope Stanwell-Fletcher&quot;,
  &quot;id&quot;: 472,
  &quot;Birth&quot;: &quot;11 Oct 1939&quot;,
  &quot;Partner&quot;: &quot;Lawrence John Bidlake&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Geoffrey Michael Bidlake&quot;,
  &quot;id&quot;: 345,
  &quot;Birth&quot;: &quot;3 Jun 1975&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Jennifer Anne Cope Bidlake&quot;,
  &quot;id&quot;: 411,
  &quot;Birth&quot;: &quot;17 Dec 1971&quot;,
  &quot;Partner&quot;: &quot;Jeffrey Douglas Schroeder&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;29 Jan 1899&quot;,
  &quot;Cope Member&quot;: &quot;Agnes Cope&quot;,
  &quot;id&quot;: 77,
  &quot;Birth&quot;: &quot;17 Dec 1876&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;23 Mar 1973&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Tyson Cope&quot;,
  &quot;id&quot;: 83,
  &quot;Birth&quot;: &quot;9 Nov 1879&quot;,
  &quot;Partner&quot;: &quot;Henry Wilder Foote Jr.&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Caleb Foote Iv&quot;,
  &quot;id&quot;: 396,
  &quot;Birth&quot;: &quot;26 Mar 1917&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;20 Jan 1999&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Stewardson Foote&quot;,
  &quot;id&quot;: 438,
  &quot;Birth&quot;: &quot;5 Feb 1920&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;14 Feb 1975&quot;,
  &quot;Cope Member&quot;: &quot;Henry Wilder Foote Iii&quot;,
  &quot;id&quot;: 454,
  &quot;Birth&quot;: &quot;30 Aug 1905&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;9 Dec 1999&quot;,
  &quot;Cope Member&quot;: &quot;Arthur Foote&quot;,
  &quot;id&quot;: 463,
  &quot;Birth&quot;: &quot;18 Jan 1911&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1996&quot;,
  &quot;Cope Member&quot;: &quot;Agnes Cope Foote&quot;,
  &quot;id&quot;: 467,
  &quot;Birth&quot;: &quot;11 Mar 1907&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;Feb 1879&quot;,
  &quot;Cope Member&quot;: &quot;William Drinker Cope&quot;,
  &quot;id&quot;: 460,
  &quot;Birth&quot;: &quot;9 Aug 1878&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;25 Feb 1944&quot;,
  &quot;Cope Member&quot;: &quot;Thomas Pim Cope&quot;,
  &quot;id&quot;: 2,
  &quot;Birth&quot;: &quot;6 Oct 1852&quot;,
  &quot;Partner&quot;: &quot;Lilla B. Dimrock&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;4 Jan 1939&quot;,
  &quot;Cope Member&quot;: &quot;Rachel Reeve Cope&quot;,
  &quot;id&quot;: 28,
  &quot;Birth&quot;: &quot;23 Jul 1850&quot;,
  &quot;Partner&quot;: &quot;Jonathan Evans&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;6 Jun 1946&quot;,
  &quot;Cope Member&quot;: &quot;Francis Algernon Evans&quot;,
  &quot;id&quot;: 18,
  &quot;Birth&quot;: &quot;1 Aug 1878, Germantown PA&quot;,
  &quot;Partner&quot;: &quot;Anna Rhoads Elkinton&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Joseph Morris Evans&quot;,
  &quot;id&quot;: 430,
  &quot;Birth&quot;: &quot;1921&quot;,
  &quot;Partner&quot;: &quot;Anne Tall&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Arthur Evans&quot;,
  &quot;id&quot;: 452,
  &quot;Birth&quot;: &quot;1920&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1969&quot;,
  &quot;Cope Member&quot;: &quot;Jonathan Evans&quot;,
  &quot;id&quot;: 473,
  &quot;Birth&quot;: &quot;1916&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;William Elkinton Evans&quot;,
  &quot;id&quot;: 475,
  &quot;Birth&quot;: &quot;1916&quot;,
  &quot;Partner&quot;: &quot;Lucretia Way Wood&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Jonathan Wood Evans&quot;,
  &quot;id&quot;: 415,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Melissa Graf&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Hannah Graf- Evans&quot;,
  &quot;id&quot;: 386,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Jeremy Graf- Evans&quot;,
  &quot;id&quot;: 419,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Rachel Graf- Evans&quot;,
  &quot;id&quot;: 447,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Deborah Susanne Evans&quot;,
  &quot;id&quot;: 426,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Ronald Claude Schaaf&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Wilder Evans Schaaf&quot;,
  &quot;id&quot;: 445,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Eliza Evans Schaaf&quot;,
  &quot;id&quot;: 448,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Isaac Evans Schaaf&quot;,
  &quot;id&quot;: 496,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Rebecca Evans&quot;,
  &quot;id&quot;: 437,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Joshua Dallas Marvil&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Cayla Evans Marvil&quot;,
  &quot;id&quot;: 444,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Cynthia Evans&quot;,
  &quot;id&quot;: 480,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Peter Martin Trueblood&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Matthew Evans Trueblood&quot;,
  &quot;id&quot;: 387,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;18 Jul 1967&quot;,
  &quot;Cope Member&quot;: &quot;Anna Cope Evans&quot;,
  &quot;id&quot;: 78,
  &quot;Birth&quot;: &quot;4 Apr 1875&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;20 May 1976&quot;,
  &quot;Cope Member&quot;: &quot;Edward Wyatt Evans&quot;,
  &quot;id&quot;: 134,
  &quot;Birth&quot;: &quot;31 Jan 1882&quot;,
  &quot;Partner&quot;: &quot;Jacqueline Pascal Morris&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Elisabeth Morris Evans&quot;,
  &quot;id&quot;: 357,
  &quot;Birth&quot;: &quot;1917&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Katherine Wistar Evans&quot;,
  &quot;id&quot;: 358,
  &quot;Birth&quot;: &quot;1916&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Christopher Evans&quot;,
  &quot;id&quot;: 391,
  &quot;Birth&quot;: &quot;1919&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Ernest Mervyn Evans&quot;,
  &quot;id&quot;: 424,
  &quot;Birth&quot;: &quot;1913&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Francis Cope Evans&quot;,
  &quot;id&quot;: 478,
  &quot;Birth&quot;: &quot;1914&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;27 Apr 1977&quot;,
  &quot;Cope Member&quot;: &quot;Harold Evans&quot;,
  &quot;id&quot;: 136,
  &quot;Birth&quot;: &quot;26 Oct 1886, Germantown PA&quot;,
  &quot;Partner&quot;: &quot;Sylvia Hathaway&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Sylvia H. Evans Jr.&quot;,
  &quot;id&quot;: 359,
  &quot;Birth&quot;: &quot;1915&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Margaret Evans&quot;,
  &quot;id&quot;: 417,
  &quot;Birth&quot;: &quot;1916&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Nathaniel H. Evans&quot;,
  &quot;id&quot;: 470,
  &quot;Birth&quot;: &quot;1917&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Faith Evans&quot;,
  &quot;id&quot;: 481,
  &quot;Birth&quot;: &quot;1921&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;14 Jan 1897&quot;,
  &quot;Cope Member&quot;: &quot;Alfred Cope&quot;,
  &quot;id&quot;: 81,
  &quot;Birth&quot;: &quot;21 Jan 1857&quot;,
  &quot;Partner&quot;: &quot;Margaret Cheston Tatnall&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;7 Jan 1909&quot;,
  &quot;Cope Member&quot;: &quot;Francis Hazen Cope&quot;,
  &quot;id&quot;: 82,
  &quot;Birth&quot;: &quot;8 May 1859&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;6 Feb 1860&quot;,
  &quot;Cope Member&quot;: &quot;William Brown Cope&quot;,
  &quot;id&quot;: 237,
  &quot;Birth&quot;: &quot;8 May 1854&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;4 May 1943&quot;,
  &quot;Cope Member&quot;: &quot;Anna Brown Cope&quot;,
  &quot;id&quot;: 335,
  &quot;Birth&quot;: &quot;26 Jul 1862&quot;,
  &quot;Partner&quot;: &quot;Theophilus B. Stork&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;5 Sep 1862&quot;,
  &quot;Cope Member&quot;: &quot;Algernon Cope&quot;,
  &quot;id&quot;: 499,
  &quot;Birth&quot;: &quot;22 Nov 1860&quot;,
  &quot;Partner&quot;: &quot;Margaret Cheston Tatnall&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;19 Mar 1879&quot;,
  &quot;Cope Member&quot;: &quot;Ruth Anna Cope&quot;,
  &quot;id&quot;: 9,
  &quot;Birth&quot;: &quot;26 Feb 1834&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;29 Jan 1890&quot;,
  &quot;Cope Member&quot;: &quot;Mary Drinker Cope&quot;,
  &quot;id&quot;: 66,
  &quot;Birth&quot;: &quot;4 Nov 1819&quot;,
  &quot;Partner&quot;: &quot;John Smith Haines&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;27 Jun 1918&quot;,
  &quot;Cope Member&quot;: &quot;Francis Cope Haines&quot;,
  &quot;id&quot;: 190,
  &quot;Birth&quot;: &quot;8 May 1857&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;18 Feb 1920&quot;,
  &quot;Cope Member&quot;: &quot;Reuben Haines&quot;,
  &quot;id&quot;: 234,
  &quot;Birth&quot;: &quot;1 Nov 1851&quot;,
  &quot;Partner&quot;: &quot;Sophia Phelps Hartshorne&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;12 Jun 1959&quot;,
  &quot;Cope Member&quot;: &quot;Marion Hartshorne Haines&quot;,
  &quot;id&quot;: 390,
  &quot;Birth&quot;: &quot;16 Oct 1880&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;7 Apr 1883&quot;,
  &quot;Cope Member&quot;: &quot;John Frederick Haines&quot;,
  &quot;id&quot;: 403,
  &quot;Birth&quot;: &quot;29 May 1882&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;27 Jan 1961&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Hartshorne Haines&quot;,
  &quot;id&quot;: 439,
  &quot;Birth&quot;: &quot;26 Aug 1884&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;15 Jan 1900&quot;,
  &quot;Cope Member&quot;: &quot;Henry Cope Haines&quot;,
  &quot;id&quot;: 339,
  &quot;Birth&quot;: &quot;7 Aug 1853&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;22 Oct 1900&quot;,
  &quot;Cope Member&quot;: &quot;Thomas Pim Cope Ii&quot;,
  &quot;id&quot;: 75,
  &quot;Birth&quot;: &quot;7 Feb 1823&quot;,
  &quot;Partner&quot;: &quot;Elizabeth Waln Stokes&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;11 Aug 1948&quot;,
  &quot;Cope Member&quot;: &quot;Margaret Cope&quot;,
  &quot;id&quot;: 88,
  &quot;Birth&quot;: &quot;17 Jan 1856&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;4 Jan 1888&quot;,
  &quot;Cope Member&quot;: &quot;Mary Stokes Cope&quot;,
  &quot;id&quot;: 90,
  &quot;Birth&quot;: &quot;13 Jul 1853&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;26 Jul 1924&quot;,
  &quot;Cope Member&quot;: &quot;Henry Cope&quot;,
  &quot;id&quot;: 180,
  &quot;Birth&quot;: &quot;16 Sep 1850&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1 Nov 1902&quot;,
  &quot;Cope Member&quot;: &quot;Walter Cope&quot;,
  &quot;id&quot;: 330,
  &quot;Birth&quot;: &quot;1 Oct 1861&quot;,
  &quot;Partner&quot;: &quot;Eliza Middleton Kane&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;10 Sep 1977&quot;,
  &quot;Cope Member&quot;: &quot;Thomas Pym Cope Jr.&quot;,
  &quot;id&quot;: 373,
  &quot;Birth&quot;: &quot;24 Jun 1897&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;3 Aug 1977&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Frances Cope&quot;,
  &quot;id&quot;: 401,
  &quot;Birth&quot;: &quot;26 Nov 1898&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;26 Jan 1982&quot;,
  &quot;Cope Member&quot;: &quot;Anne Francis Cope&quot;,
  &quot;id&quot;: 456,
  &quot;Birth&quot;: &quot;14 Jul 1900&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;30 Apr 1994&quot;,
  &quot;Cope Member&quot;: &quot;Oliver Cope&quot;,
  &quot;id&quot;: 465,
  &quot;Birth&quot;: &quot;15 Aug 1902&quot;,
  &quot;Partner&quot;: &quot;Alice Denormandie&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Eliza Middleton Cope&quot;,
  &quot;id&quot;: 409,
  &quot;Birth&quot;: &quot;8 Nov 1936&quot;,
  &quot;Partner&quot;: &quot;Timothy Stone Harrison&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Emily Cope Harrison&quot;,
  &quot;id&quot;: 355,
  &quot;Birth&quot;: &quot;24 Dec 1964&quot;,
  &quot;Partner&quot;: &quot;James Robert Boyd&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Abigail Denormandie Harrison&quot;,
  &quot;id&quot;: 423,
  &quot;Birth&quot;: &quot;31 Dec 1962&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Robert Denormandie Cope&quot;,
  &quot;id&quot;: 432,
  &quot;Birth&quot;: &quot;11 Feb 1935&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;17 Dec 1915&quot;,
  &quot;Cope Member&quot;: &quot;John Stokes Cope&quot;,
  &quot;id&quot;: 336,
  &quot;Birth&quot;: &quot;20 Aug 1859&quot;,
  &quot;Partner&quot;: &quot;Elizabeth Hooten Savery&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;24 Mar 1969&quot;,
  &quot;Cope Member&quot;: &quot;Ernesta Cope&quot;,
  &quot;id&quot;: 420,
  &quot;Birth&quot;: &quot;13 Jun 1912&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;2002&quot;,
  &quot;Cope Member&quot;: &quot;Sophia Cope&quot;,
  &quot;id&quot;: 427,
  &quot;Birth&quot;: &quot;20 May 1914&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;William Savery Cope&quot;,
  &quot;id&quot;: 443,
  &quot;Birth&quot;: &quot;11 Feb 1911&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;13 Aug 1854&quot;,
  &quot;Cope Member&quot;: &quot;Francis Cope&quot;,
  &quot;id&quot;: 338,
  &quot;Birth&quot;: &quot;13 Jan 1852&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;6 Jan 1920&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Cope&quot;,
  &quot;id&quot;: 341,
  &quot;Birth&quot;: &quot;15 Sep 1854&quot;,
  &quot;Partner&quot;: &quot;George Williams Emlen&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;2 Apr 1975&quot;,
  &quot;Cope Member&quot;: &quot;Mary Cope Emlen&quot;,
  &quot;id&quot;: 172,
  &quot;Birth&quot;: &quot;3 Jul 1878&quot;,
  &quot;Partner&quot;: &quot;Alfred Garrett Scattergood&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Scattergood&quot;,
  &quot;id&quot;: 508,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Regnery&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Cope Scattergood&quot;,
  &quot;id&quot;: 510,
  &quot;Birth&quot;: &quot;5 Apr 1907&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Caroline Scattergood&quot;,
  &quot;id&quot;: 511,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;22 Feb 2002&quot;,
  &quot;Cope Member&quot;: &quot;Roger Scattergood&quot;,
  &quot;id&quot;: 512,
  &quot;Birth&quot;: &quot;22 Aug 1912&quot;,
  &quot;Partner&quot;: &quot;Betty&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1995&quot;,
  &quot;Cope Member&quot;: &quot;Henry Scattergood&quot;,
  &quot;id&quot;: 515,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Sarah Scattergood&quot;,
  &quot;id&quot;: 504,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Anne Scattergood&quot;,
  &quot;id&quot;: 514,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;20 Apr 1936&quot;,
  &quot;Cope Member&quot;: &quot;Samuel Emlen&quot;,
  &quot;id&quot;: 349,
  &quot;Birth&quot;: &quot;27 Mar 1880&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;21 Jan 1976&quot;,
  &quot;Cope Member&quot;: &quot;George Williams Emlen Jr.&quot;,
  &quot;id&quot;: 367,
  &quot;Birth&quot;: &quot;7 May 1887&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;6 Feb 1927&quot;,
  &quot;Cope Member&quot;: &quot;Esther Margaret Emlen&quot;,
  &quot;id&quot;: 418,
  &quot;Birth&quot;: &quot;27 Apr 1890&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;25 Jan 1941&quot;,
  &quot;Cope Member&quot;: &quot;Arthur Cope Emlen&quot;,
  &quot;id&quot;: 434,
  &quot;Birth&quot;: &quot;9 Apr 1882&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;3 Apr 1881&quot;,
  &quot;Cope Member&quot;: &quot;Arthur Cope&quot;,
  &quot;id&quot;: 343,
  &quot;Birth&quot;: &quot;14 Aug 1858&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;27 Mar 1914&quot;,
  &quot;Cope Member&quot;: &quot;Alban Cope&quot;,
  &quot;id&quot;: 366,
  &quot;Birth&quot;: &quot;7 Jan 1864&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;27 Jan 1833&quot;,
  &quot;Cope Member&quot;: &quot;Anna Cope&quot;,
  &quot;id&quot;: 388,
  &quot;Birth&quot;: &quot;8 Dec 1831&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;4 Dec 1875&quot;,
  &quot;Cope Member&quot;: &quot;Alfred Cope&quot;,
  &quot;id&quot;: 46,
  &quot;Birth&quot;: &quot;13 Apr 1806&quot;,
  &quot;Partner&quot;: &quot;Hannah Edge&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;12 Apr 1897&quot;,
  &quot;Cope Member&quot;: &quot;Edward Drinker Cope&quot;,
  &quot;id&quot;: 84,
  &quot;Birth&quot;: &quot;28 Jul 1840&quot;,
  &quot;Partner&quot;: &quot;Anne Pim&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;20 Aug 1958&quot;,
  &quot;Cope Member&quot;: &quot;Julia Cope&quot;,
  &quot;id&quot;: 369,
  &quot;Birth&quot;: &quot;1866&quot;,
  &quot;Partner&quot;: &quot;William Henry Collins&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;15 Oct 1931&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Waln Cope&quot;,
  &quot;id&quot;: 176,
  &quot;Birth&quot;: &quot;15 Nov 1841&quot;,
  &quot;Partner&quot;: &quot;Philip Cresson Garrett&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;7 Jun 1938&quot;,
  &quot;Cope Member&quot;: &quot;Frances Biddle Garrett&quot;,
  &quot;id&quot;: 372,
  &quot;Birth&quot;: &quot;14 Jul 1866&quot;,
  &quot;Partner&quot;: &quot;J. Roberts Foulk&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;28 Sep 1946&quot;,
  &quot;Cope Member&quot;: &quot;Alfred Cope Garrett&quot;,
  &quot;id&quot;: 461,
  &quot;Birth&quot;: &quot;3 Nov 1867&quot;,
  &quot;Partner&quot;: &quot;Eleanor Tyson Evans&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;14 Jun 1989&quot;,
  &quot;Cope Member&quot;: &quot;Thomas Cresson Garrett&quot;,
  &quot;id&quot;: 351,
  &quot;Birth&quot;: &quot;16 Oct 1903&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;26 Feb 1986&quot;,
  &quot;Cope Member&quot;: &quot;Philip Cresson Garrett&quot;,
  &quot;id&quot;: 421,
  &quot;Birth&quot;: &quot;16 Oct 1903&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;5 Feb 1909&quot;,
  &quot;Cope Member&quot;: &quot;Alfred Cope Garrett Jr.&quot;,
  &quot;id&quot;: 422,
  &quot;Birth&quot;: &quot;26 Oct 1908&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;13 Jan 1959&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Wistar Garrett&quot;,
  &quot;id&quot;: 457,
  &quot;Birth&quot;: &quot;27 Aug 1898&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;James Biddle Cope&quot;,
  &quot;id&quot;: 236,
  &quot;Birth&quot;: &quot;13 Aug 1852&quot;,
  &quot;Partner&quot;: &quot;Mary Louise Saunders&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;20 Dec 1879&quot;,
  &quot;Cope Member&quot;: &quot;Mary Anna Cope&quot;,
  &quot;id&quot;: 384,
  &quot;Birth&quot;: &quot;10 Apr 1843&quot;,
  &quot;Partner&quot;: &quot;John E. Carter&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;10 Aug 1816&quot;,
  &quot;Cope Member&quot;: &quot;Francis Cope&quot;,
  &quot;id&quot;: 57,
  &quot;Birth&quot;: &quot;27 Oct 1794&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;31 Jan 1873&quot;,
  &quot;Cope Member&quot;: &quot;William Drinker Cope&quot;,
  &quot;id&quot;: 69,
  &quot;Birth&quot;: &quot;31 May 1798&quot;,
  &quot;Partner&quot;: &quot;Susan Newbold&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;27 Feb 1903&quot;,
  &quot;Cope Member&quot;: &quot;Clementine Cope&quot;,
  &quot;id&quot;: 10,
  &quot;Birth&quot;: &quot;23 May 1835&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;8 Jan 1916&quot;,
  &quot;Cope Member&quot;: &quot;Annette Cope&quot;,
  &quot;id&quot;: 29,
  &quot;Birth&quot;: &quot;2 May 1843&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;29 Jul 1944&quot;,
  &quot;Cope Member&quot;: &quot;Caroline Elizabeth Cope&quot;,
  &quot;id&quot;: 32,
  &quot;Birth&quot;: &quot;28 Jul 1840&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;22 Sep 1883&quot;,
  &quot;Cope Member&quot;: &quot;Alexis Thomas Cope&quot;,
  &quot;id&quot;: 48,
  &quot;Birth&quot;: &quot;5 Jan 1850&quot;,
  &quot;Partner&quot;: &quot;Elizabeth Stewardson Cope&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;6 Jul 1962&quot;,
  &quot;Cope Member&quot;: &quot;Francis Reeve Cope Jr.&quot;,
  &quot;id&quot;: 5,
  &quot;Birth&quot;: &quot;9 Aug 1878&quot;,
  &quot;Partner&quot;: &quot;Evelyn Flower Morris&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;15 Jan 2000&quot;,
  &quot;Cope Member&quot;: &quot;Theodora Morris Cope&quot;,
  &quot;id&quot;: 381,
  &quot;Birth&quot;: &quot;4 Jan 1906&quot;,
  &quot;Partner&quot;: &quot;John Frederick Stanwell-Fletcher&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Patricia Cope Stanwell-Fletcher&quot;,
  &quot;id&quot;: 472,
  &quot;Birth&quot;: &quot;11 Oct 1939&quot;,
  &quot;Partner&quot;: &quot;Lawrence John Bidlake&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Geoffrey Michael Bidlake&quot;,
  &quot;id&quot;: 345,
  &quot;Birth&quot;: &quot;3 Jun 1975&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Jennifer Anne Cope Bidlake&quot;,
  &quot;id&quot;: 411,
  &quot;Birth&quot;: &quot;17 Dec 1971&quot;,
  &quot;Partner&quot;: &quot;Jeffrey Douglas Schroeder&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;29 Jan 1899&quot;,
  &quot;Cope Member&quot;: &quot;Agnes Cope&quot;,
  &quot;id&quot;: 77,
  &quot;Birth&quot;: &quot;17 Dec 1876&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;23 Mar 1973&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Tyson Cope&quot;,
  &quot;id&quot;: 83,
  &quot;Birth&quot;: &quot;9 Nov 1879&quot;,
  &quot;Partner&quot;: &quot;Henry Wilder Foote Jr.&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Caleb Foote Iv&quot;,
  &quot;id&quot;: 396,
  &quot;Birth&quot;: &quot;26 Mar 1917&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;20 Jan 1999&quot;,
  &quot;Cope Member&quot;: &quot;Elizabeth Stewardson Foote&quot;,
  &quot;id&quot;: 438,
  &quot;Birth&quot;: &quot;5 Feb 1920&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;14 Feb 1975&quot;,
  &quot;Cope Member&quot;: &quot;Henry Wilder Foote Iii&quot;,
  &quot;id&quot;: 454,
  &quot;Birth&quot;: &quot;30 Aug 1905&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;9 Dec 1999&quot;,
  &quot;Cope Member&quot;: &quot;Arthur Foote&quot;,
  &quot;id&quot;: 463,
  &quot;Birth&quot;: &quot;18 Jan 1911&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1996&quot;,
  &quot;Cope Member&quot;: &quot;Agnes Cope Foote&quot;,
  &quot;id&quot;: 467,
  &quot;Birth&quot;: &quot;11 Mar 1907&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;Feb 1879&quot;,
  &quot;Cope Member&quot;: &quot;William Drinker Cope&quot;,
  &quot;id&quot;: 460,
  &quot;Birth&quot;: &quot;9 Aug 1878&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;9 Jun 1895&quot;,
  &quot;Cope Member&quot;: &quot;Edgar Cope&quot;,
  &quot;id&quot;: 67,
  &quot;Birth&quot;: &quot;22 Feb 1838&quot;,
  &quot;Partner&quot;: &quot;Amy Elizabeth Yarnall&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;23 Apr 1860&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Cope&quot;,
  &quot;id&quot;: 195,
  &quot;Birth&quot;: &quot;17 Dec 1847&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;2 Apr 1881&quot;,
  &quot;Cope Member&quot;: &quot;Caroline Rachel Cope&quot;,
  &quot;id&quot;: 96,
  &quot;Birth&quot;: &quot;21 Oct 1802&quot;,
  &quot;Partner&quot;: &quot;Edward Yarnall&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1 Sep 1847&quot;,
  &quot;Cope Member&quot;: &quot;Eleanor Cope&quot;,
  &quot;id&quot;: 395,
  &quot;Birth&quot;: &quot;10 Oct 1803&quot;,
  &quot;Partner&quot;: &quot;John Roberts Tyson&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Caroline Cope&quot;,
  &quot;id&quot;: 488,
  &quot;Birth&quot;: &quot;10 Jun 1796&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;13 Jan 1856&quot;,
  &quot;Cope Member&quot;: &quot;Jasper Cope&quot;,
  &quot;id&quot;: 311,
  &quot;Birth&quot;: &quot;1 Apr 1775&quot;,
  &quot;Partner&quot;: &quot;Rebecca Shoemaker&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Abbey Anne Cope&quot;,
  &quot;id&quot;: 495,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Caleb Cope&quot;,
  &quot;children&quot;: []
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;13 Jun 1803&quot;,
  &quot;Cope Member&quot;: &quot;John Cope&quot;,
  &quot;id&quot;: 346,
  &quot;Birth&quot;: &quot;14 Nov 1763&quot;,
  &quot;Partner&quot;: &quot;Mary Updegraff&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;1812&quot;,
  &quot;Cope Member&quot;: &quot;Sarah Cope&quot;,
  &quot;id&quot;: 375,
  &quot;Birth&quot;: &quot;14 Oct 1761&quot;,
  &quot;Partner&quot;: &quot;James Miller&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;3 Aug 1855&quot;,
  &quot;Cope Member&quot;: &quot;Hannah Cope&quot;,
  &quot;id&quot;: 378,
  &quot;Birth&quot;: &quot;16 Jul 1778&quot;,
  &quot;Partner&quot;: &quot;Simon Cranston&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;5 Oct 1855&quot;,
  &quot;Cope Member&quot;: &quot;Israel Cope&quot;,
  &quot;id&quot;: 399,
  &quot;Birth&quot;: &quot;11 Nov 1770&quot;,
  &quot;Partner&quot;: &quot;Sarah Buckely&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;Mar 1802&quot;,
  &quot;Cope Member&quot;: &quot;William Cope&quot;,
  &quot;id&quot;: 412,
  &quot;Birth&quot;: &quot;3 Feb 1766&quot;,
  &quot;Partner&quot;: &quot;Elizabeth Rohrer&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Caleb Cope&quot;,
  &quot;id&quot;: 494,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Abbey Anne Cope&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Joshua Cope&quot;,
  &quot;id&quot;: 376,
  &quot;Birth&quot;: &quot;4 Nov 1736&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;15 Sep 1817&quot;,
  &quot;Cope Member&quot;: &quot;Samuel Cope&quot;,
  &quot;id&quot;: 392,
  &quot;Birth&quot;: &quot;10 Aug 1726&quot;,
  &quot;Partner&quot;: &quot;Deborah Parke&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;31 Jul 1812&quot;,
  &quot;Cope Member&quot;: &quot;John Cope&quot;,
  &quot;id&quot;: 440,
  &quot;Birth&quot;: &quot;Jan 1729/30&quot;,
  &quot;Partner&quot;: &quot;Grace Cloud&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Daughter Cope&quot;,
  &quot;id&quot;: 451,
  &quot;Birth&quot;: &quot;1722&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;6 Feb 1813&quot;,
  &quot;Cope Member&quot;: &quot;Mary Cope&quot;,
  &quot;id&quot;: 474,
  &quot;Birth&quot;: &quot;Feb 1727/8&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;10 Oct 1817&quot;,
  &quot;Cope Member&quot;: &quot;Hannah Cope&quot;,
  &quot;id&quot;: 484,
  &quot;Birth&quot;: &quot;25 Apr 1724&quot;,
  &quot;Partner&quot;: &quot;John E. Carter&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;3 Jan 1821&quot;,
  &quot;Cope Member&quot;: &quot;Joseph Cope&quot;,
  &quot;id&quot;: 486,
  &quot;Birth&quot;: &quot;1 Aug 1740&quot;,
  &quot;Partner&quot;: &quot;Ann Taylor&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;4 Apr 1870&quot;,
  &quot;Cope Member&quot;: &quot;Joseph Cope&quot;,
  &quot;id&quot;: 492,
  &quot;Birth&quot;: &quot;27 Dec 1794&quot;,
  &quot;Partner&quot;: &quot;Eliza Gilbert&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Gilbert Cope&quot;,
  &quot;id&quot;: 85,
  &quot;Birth&quot;: &quot;17 Aug 1840, E. Bradford, PA&quot;,
  &quot;Partner&quot;: &quot;Anna Garrett&quot;,
  &quot;children&quot;: [
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;David G. Cope&quot;,
  &quot;id&quot;: 389,
  &quot;Birth&quot;: &quot;18 Aug 1885&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Joseph Cope&quot;,
  &quot;id&quot;: 394,
  &quot;Birth&quot;: &quot;21 Nov 1886&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Ellen Cope&quot;,
  &quot;id&quot;: 414,
  &quot;Birth&quot;: &quot;27 Feb 1884&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Herman Cope&quot;,
  &quot;id&quot;: 428,
  &quot;Birth&quot;: &quot;21 Nov 1880&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  }
  ]
  }
  ]
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;Ruth Cope&quot;,
  &quot;id&quot;: 442,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  },
  {
  &quot;Death&quot;: &quot;&quot;,
  &quot;Cope Member&quot;: &quot;William Cope&quot;,
  &quot;id&quot;: 446,
  &quot;Birth&quot;: &quot;&quot;,
  &quot;Partner&quot;: &quot;Henry Scattergood&quot;,
  &quot;children&quot;: []
  }
  ]
  }
  ]
  }
  ]
  }</div> 
