{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cope Evans Project</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>
{% block mf %} {% include "mf.html" %} {% endblock %}
{% block navbar %}  {% include "new_nav.html" %}{% endblock %}

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <<div class="carousel-item active"  style="background-image: url('{% static 'img/map.png' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Collection Map</h3>
            <p>Visualize the collection items geographically.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item"  style="background-image: url('{% static 'img/j_morris_evans.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>J. Morris Evans</h3>
            <p>A benefactor of Haverford College Libraries</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'img/black.png' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Site under construction</h3>
            <p>More content coming soon.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h2 class='my-4'>The Cope Evans Project<h2>
	<h5> Explore the lives of a Quaker family during the industrial age </h5>
<p> <b>The Cope Evans Project</b> is a project by Haverford College Digital
  Scholarship which explores the items in the <b>Cope Evans Family Paper Collection
    (1732-1980)</b> curated by Haverford Special Collections. The papers include
    letters, financial documents, diaries, and shipping information. This project
    engages with the collection through prose and data visualization.</p>
    <p> In the summer of 2014, three Haverford College students, Cormac Quinn Rada
      ('17), Brandon Smith ('16), and Andrew Kafker ('17), conducted archival
      research in the Cope Evans Family Papers for their digital project titled
      “The Cope Evans Project: A History of Quaker Networks During the Industrial
      Age.” Exploring the argument and themes of Philip S. Benjamin’s influential
      work The Philadelphia Quakers in the Industrial Age, 1865-1920 (1978),
       the students documented the numerous social, cultural, economic, and
       political changes that the Cope family, a prominent Quaker family in
       Philadelphia, faced during a period of rapid industrialization and
       urbanization in America.</p>

    <p> During Summer 2019, this site was created for the project by Aleena Maryam
      '19. Old student
      visualizations and essays were moved here. A new letters map was created
      and an essay about J. Morris Evans, a contributor to the collection,
      was added.</p>

    <!---<div aria-multiselectable="true" class="mb-4" id="accordion" role="tablist">
      <div class="card">
	<div class="card-header" id="headingOne" role="tab">
	  <h5 class="mb-0"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Visualizations</a></h5>
	</div>

	<div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel">
	  <div class="card-body">

	  </div>
	</div>
	</div>--->


</div>
</div>
  <!-- /.container -->

  <!-- Footer -->

  {% block footer %} {% include "footer.html" %} {% endblock %}
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
