{% extends "parent.html" %}
{% load static %}
{% block scripts %}
<!--- morris_url is used in text.js to access the relevant json --->
<script>
  var morris_url = "{% static 'json/morris_data.json' %}";
</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!--- can use p5 to load js --->

<!--- chart.js is used to create the bar graph --->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!--- text.js contains the code which renders the chart and processes the JSON for it --->
<script src="{% static 'js/text.js' %}"> </script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .mySlides {
    display: none
  }

  .w3-left,
  .w3-right,
  .w3-badge {
    cursor: pointer
  }

  .w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
  }
</style>
<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " w3-white";
  }
</script>
{% endblock %}
{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3"> J. Morris Evans
    <!--<small>Subheading</small>-->
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">J. Morris Evans</li>
  </ol>
  <p><b> J. Morris “Morrie” Evans (1921-2017) </b>
    was a member of Haverford College’s class of 1943.
    He donated the entirety of the collection to Haverford
    College Special Collections. The collection is comprised
    primarily of letters but also includes diaries and financial documents.
    Evans last donated a batch of documents which was approved
    in June 2019. Some of these items are available digitally.
    This addition includes letters received and sent by Evans
    himself, shipping and financial documents, and letters from
    the nineteenth century. The shipping documents illuminate
    some of the Cope Evans business patterns.
  </p>
  <p>In his free time, Evans compiled documents concerning the Cope Evans and kept
    track of the documents he created including family photographs and letters.
    He compiled and examined more than 2,600
    documents (letters, records and diaries). </p>


  <p>Evans was a conscientious objector during World War II. He worked on farms
    as alternative service. After the war, he began work as an accountant at the
    Philadelphia Quartz company which later became the PQ corporation. J. Morris
    Evans was subsequently Vice-President and and Treasurer of the Corporation.</p>

  <p>The chart below was created by querying the collection for items related
    to J. Morris Evans. The most frequent subject tags of those items are shown.
    The tags related to business include: the Morris Canal and Banking Company,
    the Lehigh Coal and Navigation Company, and the Schuylkill Navigation Company.
    Eleven of the top thirty tags are related to business.</p>

  <canvas id="bar-chart" width="800" height="450"></canvas>
  <!-- end container -->

</div>
{% endblock %}
