{% extends "parent.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3"> J. Morris Evans
    <!--<small>Subheading</small>-->
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">J. Morris Evans</li>
  </ol>
  <p> J. Morris “Morrie” Evans was a member of Haverford College’s class of 1943. He has contributed significantly to The Cope Evans Collection. The collection is comprised primarily of letters but also includes diaries and financial documents. A recently approved addition donated by Evans added several shipping documents which illuminate some of the Cope Evans business patterns. This addition included letters received and sent my Evans himself. </p>

</div>
<!-- end container -->

{% endblock %}
