<p> J. Morris “Morrie” Evans was a member of Haverford College’s class of 1943. He has contributed significantly to The Cope Evans Collection. The collection is comprised primarily of letters but also includes diaries and financial documents. A recently approved addition donated by Evans added several shipping documents which illuminate some of the Cope Evans business patterns. This addition included letters received and sent by Evans himself. </p>

<canvas id="bar-chart" width="800" height="450"></canvas>


