{% extends "fill.html" %}
{% load static %}
{% block scripts %}
<script> var letters_url = "{% static 'json/tiny_letters.json' %}"; </script> <!-- nice one! -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css" rel='stylesheet'>

<style>
  body { margin:0; padding:0; }
  #mapdiv { position:absolute; top:0; bottom:0; width:100%; }
  .mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
</style>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}
<div id='mapdiv'></div>
<script src="{% static 'js/letters.js' %}"></script>
{% endblock %}


