{% extends 'parent.html' %}
{% load static %}

{% block content %}
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">The Cope Evans Family</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">The Cope Evans Family</li>
  </ol>
  <div aria-multiselectable="true" class="mb-4" id="accordion" role="tablist"><!--- begin cards -->
    <div class="card">
      <div class="card-header" id="headingOne" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">The Families</a></h5>
      </div>
      <div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel"><!-- Card One -->
	<div class="card-body">
	</div><!-- end card one body -->

      </div><!-- end heading One -->
    </div><!-- end Card One--->

    <div class="card"><!-- start card two -->
      <div class="card-header" id="headingTwo" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">The Collection</a></h5>
      </div>
      <div aria-labelledby="headingTwo" class="collapse" id="collapseTwo" role="tabpanel">
	<div class="card-body">
	  
	</div>
      </div>
    </div><!---end card two-->

    <div class="card"><!-- start card three -->
      <div class="card-header" id="headingThree" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Family Tree</a></h5>
      </div>
      <div aria-labelledby="headingThree" class="collapse" id="collapseThree" role="tabpanel">
	<div class="card-body">

    
	</div>
      </div>
    </div><!---end card three-->

    <div class="card"><!-- start card four -->
      <div class="card-header" id="headingFour" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Important People</a>
	</h5>
      </div>
      <div aria-labelledby="headingFour" class="collapse" id="collapseFour" role="tabpanel">
	<div class="card-body">
	  
	</div>
      </div>
    </div><!---end card four-->

  <div class="card"><!-- start card five -->
        <div class="card-header" id="headingfive" role="tab">
  	<h5 class="mb-0"><a aria-controls="collapsefive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsefive">Family Life</a>
  	</h5>
        </div>
        <div aria-labelledby="headingfive" class="collapse" id="collapsefive" role="tabpanel">
  	<div class="card-body">
		
  	</div>
        </div>
      </div><!---end card five-->

      <div class="card"><!-- start card six -->
      <div class="card-header" id="headingsix" role="tab">
	<h5 class="mb-0"><a aria-controls="collapsesix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsesix">Letter Bar Chart</a>
	</h5>
      </div>
      <div aria-labelledby="headingsix" class="collapse" id="collapsesix" role="tabpanel">
	<div class="card-body">
	  <!-- insert image-->
	  <a href = "{% url 'subjectbarchart' %}"> <img src="{% static 'img/subjectbarchart.png' %}" style="padding: 0 15px; float:left; height: 300px; width: 625px;"></a>
<!--	     <img src="{% static 'img/subjectbarchart.png' %}">-->
	  <!--<img src="{% static 'img/subjectbarchart.png' %}"/>-->
    <p>The chart here plots the number of letters on the y-axis, against the year the letters were written on the x-axis. Click on the image here to go to the interactive chart. To view how the letters are distributed by subject, go to the drop down menu on the side and select which subject you would like to view. The graph will then change to show the letter distribution by subject. This visualization is an exploratory tool for the collection. Many of the subjects that you can filter by are related to domestic and every day life of the family members. Filtering by subject areas like family, lifestyle, love, and travel will reveal the frequency of letters on those subjects betweeen 1800 and 1910.</p>

	</div>
      </div>
    </div><!---end card six-->
    <div class="card"><!-- start card seven -->
      <div class="card-header" id="headingseven" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseseven" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseseven">Clementine Cope</a>
	</h5>
      </div>
      <div aria-labelledby="headingseven" class="collapse" id="collapseseven" role="tabpanel">
	<div class="card-body">
    
	</div>
      </div>
    </div><!---end card seven-->


    <div class="card"><!-- start card eight -->
          <div class="card-header" id="headingeight" role="tab">
    	<h5 class="mb-0"><a aria-controls="collapseeight" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseeight">Family Papers Map</a>
    	</h5>
          </div>
          <div aria-labelledby="headingeight" class="collapse" id="collapseeight" role="tabpanel">
    	    <div class="card-body">
	      
    	</div>
          </div>
        </div><!---end card eight-->


    </div><!-- end cards--->


  {% endblock content %}
</div><!-- end container -->
{% endblock %}
