{% extends 'parent.html' %}
{% load static %}

{% block content %}
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">The Cope Evans Family</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">The Cope Evans Family</li>
  </ol>
  <div aria-multiselectable="true" class="mb-4" id="accordion" role="tablist"><!--- begin cards -->
    <div class="card">
      <div class="card-header" id="headingOne" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Philadelphia in the Industrial Age</a></h5>
      </div>
      <div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel"><!-- Card One -->
	<div class="card-body">

	  <p>The Industrial Age in America radically transformed nearly every aspect of American daily life after the Civil War (1861-1865). Nowhere was this more evident than in Philadelphia, "the first great industrial city" (Beers, 430). However, as new technology and new modes of transportation changed the nature of work and travel, rapid industrialization also led to a wave of social and economic problems. </p>

	  <p>Innovations in transportation and manufacturing accelerated the rate at which goods were produced and distributed, and changed the nature of work. New printing and photographic processes, the invention of the telegraph and telephone, and mass production improved the standard of living for many Americans and connected them to each other in new ways.</p>

	  <p> New forms of transportation like the railroad and steamboat were adopted by the city in the nineteenth century, requiring the construction of new bridges, turnpikes, and canals, and the improvement of existing ones. By 1821, eighty five turnpikes had been chartered in the state of Pennsylvania. A network of paved toll roads were developed leading from Philadelphia to New York, Reading, Harrisburg, Lancaster, Baltimore, and into New Jersey (Richardson, 230).</p>
	</div><!-- end card one body -->

      </div><!-- end heading One -->
    </div><!-- end Card One--->

    <div class="card"><!-- start card two -->
      <div class="card-header" id="headingTwo" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Quaker Life in Philadelphia</a></h5>
      </div>
      <div aria-labelledby="headingTwo" class="collapse" id="collapseTwo" role="tabpanel">
	<div class="card-body">
	  <p>In the late nineteenth and early twentieth centuries, "Philadelphia had transformed into an industrial city plagued by crime and local unrest and directed by political professionals who ignored moderation and traditional moral standards" (Benjamin, 73). Urbanization in Philadelphia brought to light a number of issues that became the basis for social and political policies. Educational reform, the rising immigrant population, the status of women and African Americans soon took precedence while the rise of factories led to debates over appropriate work hours, fair wages, and the use of child labor.</p>
	  <p>Members of the Quaker popluation in the city found themselves in powerful positions as "members of the boards of the city's banks, corporations, and social agencies" (Benjamin, viii). Members of the Cope and Evans families, like many other members of the Quaker community, grew concerned over the "moral climate" of the city (Benjamin, 93).</p>
	  <p>The subsequent Progressive Era saw a wave of legislation for social reform in the nation’s largest cities, including New York City, Baltimore, and Philadelphia.</p>
	</div>
      </div>
    </div><!---end card two-->

    <div class="card"><!-- start card three -->
      <div class="card-header" id="headingThree" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Transformation and Response
	</a></h5>
      </div>
      <div aria-labelledby="headingThree" class="collapse" id="collapseThree" role="tabpanel">
	<div class="card-body">

	  <p>According to Benjamin, Philadelphia Quakers were a close-knit community during the early nineteenth century. The changes brought about by industrialization and the market economy caused Philadelphia Quakers to vigorously debate how to reconcile their values with the demands of industrial city life (Benjamin, 212-215). Members of Cope and Evans families also took up this debate.</p>
	  <p>Their letters provide insight into their thoughts and feelings about these problems. Education reform, philanthropy, and business ventures in Philadelphia’s booming economy were some of the most significant ways in which the families engaged with the changing world around them.</p>
																																				   
	</div>
      </div>
    </div><!---end card three-->

    <div class="card"><!-- start card four -->
      <div class="card-header" id="headingFour" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Orthodox Friends & the Hicksite Split of 1827</a>
	</h5>
      </div>
      <div aria-labelledby="headingFour" class="collapse" id="collapseFour" role="tabpanel">
	<div class="card-body">
	  <p>The Hicksite Split was a result of theological debates among Friends that occurred at the 1827 Philadelphia Yearly Meeting (Hamm, Transformation, 15-20; Barbour and Frost, 169). When the Philadelphia Monthly Meeting for the Southern District was established in 1772, members met at the Quaker Meeting House on Orange Street. After the Hicksite separation, this Meeting remained with the Orthodox Friends, who were distinctive by their attire.</p>

	  <p>Our meeting for worship for First day mornings & afternoons [-----] days have been discontinued at the Pine Street House, & all belonging to the Southern District Monthly Meeting now assemble at the Orange St. House. It has however been concluded by the Monthly Meeting to allow a First day evening meeting to be held in the Pine St. House & last evening it was for the first time so held. It was well attended, was very quiet & several of our friends had service I have no doubt to general satisfaction. How long these evening meetings will be held I don't know but I suppose not after warm weather begins. - Henry Cope to Alfred Cope, March 10, 1834</p>

	  <p>While exploring the collection, consider how their Orthodox values may have guided their actions.</p>
	  
	</div>
      </div>
    </div><!---end card four-->

  <div class="card"><!-- start card five -->
        <div class="card-header" id="headingfive" role="tab">
  	<h5 class="mb-0"><a aria-controls="collapsefive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsefive">Educational Reform</a>
  	</h5>
        </div>
        <div aria-labelledby="headingfive" class="collapse" id="collapsefive" role="tabpanel">
  	  <div class="card-body">
	    <p>Quaker education had undergone a transformation from the eighteenth century to the Industrial Age. Benjamin describes the curriculum of early Quaker schools as a “guarded education.” Simplicity in dress, the preservation of "the distinctive culture of Friends," and the discouragement of the arts were important characteristics of this education.</p>
	    <p>The Westtown boarding school in Chester County, founded in 1799, offered a "guarded education" for students with an emphasis on subjects such as math, science, grammar, writing, and religious instruction. Students who attended Westtown were expected to respect Quaker traditions of simple dress and plain language. After attending Westtown, members of the Cope family attended Haverford for their college education (Benjamin, 26, 35-37).</p>

	    <p>When writing to his father Henry in October 1837, Francis Reeve Cope described the curriculum at Haverford. "The Council have introduced a new plan of studying Scripture on the 1st day. The whole school is divided into two classes who recite to D.B. Smith who then delivers a lecture on Ethics..."</p>

	    <p>The social life of students was another issue that became a source of debate among administrators at Haverford. In 1888, Swarthmore College adopted fraternities. In response Haverford College, stating that "fraternities destroyed the college's community life and Quaker spirit," limited the formation of student societies (Benjamin, 45).</p>
	    <p>In 1910, Isaac Sharpless, a Quaker and the President of Haverford College from 1887-1917, supported the students’ desire for a more progressive education. The young generation of Friends, he believed, were “more in touch with the world around, ...more open to new ideas, [and] less inclined to accept a conclusive argument for itself that Friends in the past followed certain customs. It is probably no less loyal to fundamental Quakerism; and it is much more hopeful that this will become, not the possession of a slowly dying through very respectable remnant, but a growing and vigorous organism adapting itself to the problems of its environment, and winning strength and confidence by its real efficiency” (Benjamin, 176-177).</p>
  	</div>
        </div>
      </div><!---end card five-->

      <div class="card"><!-- start card six -->
      <div class="card-header" id="headingsix" role="tab">
	<h5 class="mb-0"><a aria-controls="collapsesix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsesix">Letter Bar Chart</a>
	</h5>
      </div>
      <div aria-labelledby="headingsix" class="collapse" id="collapsesix" role="tabpanel">
	<div class="card-body">
	  <!-- insert image-->
	  <a href = "{% url 'subjectbarchart' %}"> <img src="{% static 'img/subjectbarchart.png' %}" style="padding: 0 15px; float:left; height: 300px; width: 625px;"></a>
<!--	     <img src="{% static 'img/subjectbarchart.png' %}">-->
	  <!--<img src="{% static 'img/subjectbarchart.png' %}"/>-->
    <p>The chart here plots the number of letters on the y-axis, against the year the letters were written on the x-axis. Click on the image here to go to the interactive chart. To view how the letters are distributed by subject, go to the drop down menu on the side and select which subject you would like to view. The graph will then change to show the letter distribution by subject. This visualization is an exploratory tool for the collection. Many of the subjects that you can filter by are related to domestic and every day life of the family members. Filtering by subject areas like family, lifestyle, love, and travel will reveal the frequency of letters on those subjects betweeen 1800 and 1910.</p>

	</div>
      </div>
    </div><!---end card six-->
    <div class="card"><!-- start card seven -->
      <div class="card-header" id="headingseven" role="tab">
	<h5 class="mb-0"><a aria-controls="collapseseven" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseseven">Clementine Cope</a>
	</h5>
      </div>
      <div aria-labelledby="headingseven" class="collapse" id="collapseseven" role="tabpanel">
	<div class="card-body">
    
	</div>
      </div>
    </div><!---end card seven-->


    <div class="card"><!-- start card eight -->
          <div class="card-header" id="headingeight" role="tab">
    	<h5 class="mb-0"><a aria-controls="collapseeight" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseeight">Family Papers Map</a>
    	</h5>
          </div>
          <div aria-labelledby="headingeight" class="collapse" id="collapseeight" role="tabpanel">
    	    <div class="card-body">
	      
    	</div>
          </div>
        </div><!---end card eight-->

    <div class="card"><!-- start card nine -->
      <div class="card-header" id="headingnine" role="tab">
	<h5 class="mb-0"><a aria-controls="collapsenine" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapsenine">Important People</a>
	</h5>
      </div>
      <div aria-labelledby="headingnine" class="collapse" id="collapsenine" role="tabpanel">
	<div class="card-body">
	  <!-- need to insert images-->
	</div>
      </div>
    </div><!---end card nine-->
    

    </div><!-- end cards--->


{% endblock content %}
</div><!-- end container -->

