{% extends 'parent.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-3">Political Commentary</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Political Commentary</li>
  </ol>
<div aria-multiselectable="true" class="mb-4" id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" id="headingOne" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Political Commentary</a></h5>
    </div>

    <div aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel">
      <div class="card-body">
      <p>Debates about political figures and news about national events of the late eighteenth and early nineteenth centuries, including the Civil War (1861-1865), the assassination of President Abraham Lincoln (April 1865), President Andrew Johnson's administration, and the assassination of President William McKinley (September 1901), were occassional topics of discussion in the family letters.</p>
      <p>These letters demonstrate their engagement in issues that were headline stories in newspapers across the country.</p>
      <p>The relief that came with the end of violence following the Civil War, the shock and sadness of President Abraham Lincoln's assassination, and disappointment in President Andrew Johnson’s Reconstruction were all responses the Cope family members shared as they witnessed these national events.</p>
      <p>Discussions of national news, however, revealed less about their political participation. In fact, the issue of political participation, particularly officeholding, continued to be a source of debate among Philadelphia Quakers in the late nineteenth century.</p>
      <p>According to Philip S. Benjamin, after the Civil War, the attitude of Philadelphia Quakers towards political engagement began to change. "Most Friends," Benjamin argued, "were burdened not only by a traditional hesitancy about political activity but by the thorny question of party loyalty" as Friends from both Hicksite and Orthodox branches began to question whether their traditional stance on the "prohibition of political activity" as stated in the Disciplines limited their ability to engage in political reform. As Benjamin argued, some Philadelphia Quakers felt a moral obligation to participate in reform efforts (Benjamin, 75, 86).</p>
      <p>Further exploration of the Cope Evans Family Papers may reveal more in terms of the family's engagement in politics beyond their responses to national news.</p>
</div>
    </div>
  </div>



  <div class="card">
    <div class="card-header" id="headingTwo" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">The Civil War</a></h5>
    </div>

    <div aria-labelledby="headingTwo" class="collapse" id="collapseTwo" role="tabpanel">
      <div class="card-body">&nbsp;</div>
      <p>Members of the Cope family followed news regarding the war that divided the nation closely. In August, 1862, Alfred Cope received a letter from his friend Charles Drinker requesing that Cope, perhaps through his business connections, "procure for [him] a situation in the Navy as Captain's Clerk." One year into the war, Drinker wanted to enlist in the Army but "my Mother & Sisters & they object to my doing so."</p>
      <p>Ruthanna Cope received news from her aunt Martha Leeds on the conditions of hospitals near Chattanooga, Tennessee. "[T]here are about 500 patients now but it is hoped that the large field Hospital at Chattanooga may soon be moved up here and probably two thirds of the patients that would otherwise die might recover I think there had been but four deaths since the Hospital was established."</p>

    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingThree" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Lincoln's
        Assassination</a></h5>
    </div>
    <div aria-labelledby="headingThree" class="collapse" id="collapseThree" role="tabpanel">
      <div class="card-body">
      <p>When President Lincoln’s funeral train arrived in Philadelphia in late April 1865 and his body was on view at Independence Hall, droves of people arrived to pay their respects. Lincoln's funeral train would stop in several major cities, including Baltimore, New York City, Columbus, and Indianapolis, in the journey from Washington D.C. to Springfield, Illinois. The emotional response to his sudden death was evident in the letters from members of the Cope family (Beers, 417-418).

</p>
<p>In a letter dated April 11, 1865, Clementine wrote to her mother and sisters:</p>
<<blockquote>
  I have laid aside my letter for two or three days, for we have all felt so sad since the dreadful news that I [could] not feel like writing about ordinary things [and] there seemed little to say on the one great subject - the presidents dreadful death, which seemed dreadful enough to strike every one dumb with horror [and] astonishment.
</blockquote>
<p>Clementine had been teaching at the Freedmen's Relief Assocation's school in Baltimore for a month and was writing home to share stories of her time in Baltimore before she dropped her pen. On April 21, the teachers dismissed the students early. Clementine went to a store on Market St. to get a view of the funeral train. She sat perched near a window as "the most touching & mournful procession" passed by. "It will take a long time to forget the grief & horror of this sad event -- but work has to be done" she wrote in a letter to her sister Annette on April 25.</p>

<p>As Clementine returned to her duties at the school, she continued to follow the news of Lincoln's funeral closely and included a newspaper clipping about the funeral train's arrival in New York on April 24, 1865 in her scrapbook.</p>
    </div>
  </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingFour" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Reconstruction and President Andrew Johnson</a></h5>
    </div>

    <div aria-labelledby="headingFour" class="collapse" id="collapseFour" role="tabpanel">
      <div class="card-body">
      <p>As President Andrew Johnson was sworn into office on April 15, 1865, many Americans wondered about the fate of the South following the Civil War. "It seems to me we have, every day, reason to mourn death of our own dear good President - Johnson is so different - & if he should get us into a Mexican war it would be so sad." As Ruthanna Cope read the letter addressed to her from Susan Reeve written on May 27, 1865, she may have had the same anxiety about Johnson's character and leadership. "But," Reeve wrote "we can but hope for the best."</p>
      <p>Francis Reeve Cope wrote his criticisms of President Johnson in a letter to his daughter, Rachel Reeve Cope Evans, on February 25, 1866 three days after Johnson had delivered an unpopular speech that ignited further criticisms of his Reconstruction policies.</p>
      <blockquote>Our live President, chosen to air the Union men of the South to our side, seems to be doing his best to destroy the good work the chief war engaged in when called from works to rewards. It is the most humiliating thing this nation has had to endure for many years -- worse even than his drunken inauguration speech.</blockquote>

    </div>
  </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingFive" role="tab">
      <h5 class="mb-0"><a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">McKinley's Assassination</a></h5>
    </div>

    <div aria-labelledby="headingFive" class="collapse" id="collapseFive" role="tabpanel">
      <div class="card-body">
      <p>In 1901, the assassination of President William McKinley at the Pan-American Exposition in Buffalo, New York shocked the nation. While shaking hands with fairgoers, McKinley was shot. Immediate medical attention suggested he may recover. In her letter to Rachel Reeve Cope on September 16, 1901, Anna Cope reported the news of the President's well being. McKinley "was up at Mt Marcy...having been at Buffalo, at first for several days, then left, as the physicians were so much encouraged, and were so decided that he would re--cover, Every body was hopeful for a week."</p>
      <p>McKinley died from his wounds on September 14, 1901. Anna expressed her reaction to the news writing that she had "much greeved at the President's death, it is so shocking to think of his being shot, whilst he was welcoming the people in such a personal way." She expressed sympathy to McKinley's wife writing that she "must be a wonderfully calm temperment to have borne up so well."</p>
      <p>Upon McKinley's death, Vice President Theodore Roosevelt was sworn into office. "I hope [Theodore] Roosevelt may prove a good ruler," Anna wrote.</p>

    </div>
  </div>
  </div>

  </div><!-- end cards-->



  </div>

{% endblock content %}
