body {
margin:0px;
padding:20px;
background-color:black;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px Sans-serif;
}

.selected {
fill: yellow;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
  opacity: .3;
}

text {
fill:white;
padding: 25px;
}

#info {
position:fixed;
background-color:lightgrey;
opacity:.8;
padding:20px;
}

.child {
padding:2px;
cursor:pointer;
padding-left:7px;
}

.close-mine {
float:right;
background-color:grey;
border:1px solid black;
cursor:pointer;
padding:1px 7px;
margin-left:5px;
}
.hidden-mine {
height:20px;
overflow:hidden;
}

.close-mine:hover {
background-color:black;
color:white;
}

.child:hover {
background-color:yellow;
}


