
/* navigation css */
/* w3 schools sticky navbar */
/*.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}*/
nav ul {
    top: 0;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AB2346;
    border: 0;

}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    background-color: #C07980;
}